:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f2f2f2;
  --dark-color: #333;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-top: 2px solid #cccccc;
  border-bottom:2px solid #cccccc;
}
/*  Utilities  */
.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
  background-color: var(--light-color);
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0.5rem;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
}
.navbar ul li a:visited {
  color: var(--dark-color)
} 

.navbar ul li a:hover {
  color: #595959;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--dark-color);
}

.logo a:hover {
  color:  #595959;
}

.logo a {
  text-decoration: none;
  color: var(--light-color);
}
.logo a:visited {
  color: var(--dark-color);
}
/* Create two unequal columns that floats next to each other */
.row {
  margin-top: 1rem;
  display: flex;
}

.column-left {
  flex: 75%;
}

.column-left ul {
  margin-left: 2rem;
}

.column-right {
  flex: 25%;
  align-items: center;
}

.column-right img {
  max-width: 400px;
  height: auto;
  margin: 1rem;
}

@media (max-width: 900px) {
  .row {
    flex-direction: column;
  }
  .column-left {
    width: 100%;
  }
  .column-right {
    align-self: self;
    width: 100%;
  }
}
