* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #c72727;
    --secondary-color: #d3ab9e;
    --light-color: #f2f2f2;
    --dark-color: #333;
    --max-width: 1100px;
  }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
  color: var(--dark-color);
  line-height: 1.6;
  height: 100vh;
}

.container {
  /* Takes up whole body */
  width: 100%;
  height: 100%;
  /* Smooth scroll properties */
}

/* Navigation  */

.navbar {
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 0.5vh;
  background-color:var(--light-color);
  opacity: 0.7;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 1rem;
  font-weight: bolder;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-color);
}

.navbar ul li a:hover {
  color: var(--secondary-color);
}
.navbar ul li a:visited {
  color: var(--dark-color);
}

/* Section */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
  color: white;
}
/* Landing Section */
section#landing {
  background-color: var(--light-color);
}

section#landing p {
  color: var(--dark-color);
  padding: 10px;
}
/* Home section */
section#home {
  background-image: url("/img/churchill-house-39.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section#home .main button {
  margin-top: 1rem;
}

section#home .button {
  margin-top: 2rem;
}
section#home .button a {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

section#home .button a:hover {
  background-color:var(--dark-color);
  color: antiquewhite;
}
/* History section */
section#history {
  background-image: url("/img/churchill-house-24.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
section#history .button {
  margin-top: 2rem;
}
section#history .button a {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
}
section#history .button a:hover {
  background-color:var(--dark-color);
  color: antiquewhite;
}

/* Section Signifance */
section#signifiance {
  background-image: url("/img/churchill-house-25.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section#signifiance ul {
  list-style-type: "→";
  font-size: 1.5rem;
  margin-top: 1rem;

}
section#signifiance ul {
  color: white;
}
section#signifiance ul li{
  margin:1rem;
}

/* Section Photo */
section#photo {
  background-image: url("/img/churchill-house-47.jpg");
}
section#photo .button {
  margin-top: 2rem;
}
section#photo .button a {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
}
section#photo .button a:hover {
  background-color:var(--dark-color);
  color: antiquewhite;
}
mark {
  background-color: var(--light-color);
  color: var(--dark-color);
}


/* Media Query for phone */
@media (max-width: 730px) {
  .logo {
    align-items: center
  }
  .navbar ul {
    display: none;
  }

  section h1 {
    font-size: 2rem;
  }

  section p {
    font-size: 1rem;
    color: white;
  }
  
  section#signifiance ul li{
    font-size: 1rem;
  }
}
