* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #c72727;
  --secondary-color: #d3ab9e;
  --light-color: #f2f2f2;
  --dark-color: #333;
  --max-width: 1100px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--light-color);
  line-height: 1.6;
  height: 100vh;
}

.container {
  /* Takes up whole body */
  width: 100%;
  height: 100%;
  /* Smooth scroll properties */
}

/* Navigation  */

.navbar {
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 0.5vh;
  background-color: var(--light-color);
  opacity: 0.7;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 1rem;
  font-weight: bolder;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-color);
}

.navbar ul li a:hover {
  color: var(--secondary-color);
}
.navbar ul li a:visited {
  color: var(--dark-color);
}

/* Navigation Logo  */
.logo {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.logo a {
  text-decoration: none;
  color: var(--dark-color);
}

.logo a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

.logo a:visited {
  color: var(--dark-color);
}

/* General Section */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
  color: white;
}
section ul li {
  list-style-type: "→";
  padding-left: 0.5rem;
}
/* Section Landing */
section#landing {
  background-color: var(--light-color);
}

section#landing p {
  color: var(--dark-color);
  padding: 10px;
}
/* Section Home */
section#home {
  background-image: url("/img/churchill-house-39.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section#home .main button {
  margin-top: 1rem;
}

section#home .button {
  margin-top: 2rem;
}
section#home .button a {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

section#home .button a:hover {
  background-color: var(--dark-color);
  color: antiquewhite;
}
/* Section History */
section#history {
  background-image: url("/img/churchill-house-24.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
section#history .button {
  margin-top: 2rem;
}
section#history .button a {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
}
section#history .button a:hover {
  background-color: var(--dark-color);
  color: antiquewhite;
}

/* Section Significance */
section#significance {
  background-image: url("/img/churchill-house-29.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section#significance ul {
  list-style-type: "→";
  font-size: 1.5rem;
  margin-top: 1rem;
}
section#significance ul {
  color: white;
}
section#significance ul li {
  margin: 1rem;
}
/* List items in significance */
.list ul {
  margin-left: 2rem;
  list-style-type: "→";
}
.list ul li {
  padding-left: 1rem;
}

/* Section Photo */
section#photo {
  background-image: url("/img/churchill-house-47.jpg");
}
section#photo .button {
  margin-top: 2rem;
}
section#photo .button a {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
}
section#photo .button a:hover {
  background-color: var(--dark-color);
  color: antiquewhite;
}
mark {
  background-color: var(--light-color);
  color: var(--dark-color);
}

/* Section Footer */
section#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--light-color);
}

/*  Description Page */
section .text p {
  color: var(--dark-color);
  text-align: left;
}

section .text h1 {
  color: var(--dark-color);
  text-align: left;
}

section#description {
  background-color: #efe5dc;
}

section#main {
  background-color: #d0b8ac;
}

section#northwing {
  background-color: #f3d8c7;
  background-repeat: no-repeat;
  background-size: cover;
}

section#facilities {
  background-color: #efe5dc;
}

section#analysis {
  background-color: #fbfefb;
}

section#analysis .text ul {
  font-size: 1.5rem;
  padding-left: 2.5rem;
  text-align: left;
}

img {
  margin: 1rem;
}

/* Media Query for phone */

@media (max-width: 640px) {
  section h1 {
    font-size: 2rem;
  }

  section p {
    font-size: 0.7rem;
    color: white;
  }
  .navbar {
    position: relative;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
  }
  .navbar ul {
    flex-direction: column;
  }
  .logo {
    display: none;
  }

  section h1 {
    font-size: 2rem;
  }

  section ul li {
    font-size: 0.7rem;
  }

  .caption img {
    width: 250px;
    height: 100px;
  }

  section#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  section#description h1 {
    font-size: 2rem;
  }

  section#description .text {
    padding-right: 10px;
    justify-content: center;
    font-size: 2rem;
  }

  section#description img {
    max-width: 300px;
  }

  section#main img {
    max-width: 300px;
  }

  section#northwing img {
    max-width: 300px;
  }

  section#facilities img {
    max-width: 300px;
  }
  section#analysis img {
    max-width: 300px;
  }
}

@media (max-width: 930px) {
  .navbar {
    position: relative;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
  }
  .navbar ul {
    flex-direction: column;
  }
  .logo {
    display: none;
  }
  section#significance ul li {
    font-size: 1rem;
  }
}

/* Tablets */
@media (min-width: 700px) {
  section#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  section#description h1 {
    font-size: 2rem;
  }

  section#description .text {
    padding-right: 10px;
    justify-content: center;
    font-size: 2rem;
  }

  section#description img {
    max-width: 400px;
  }
  section#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  section#main h1 {
    font-size: 2rem;
  }

  section#main .text {
    padding-right: 10px;
    justify-content: center;
    font-size: 2rem;
  }

  section#main img {
    max-width: 400px;
  }

  section#northwing img {
    max-width: 400px;
  }

  section#facilities img {
    max-width: 400px;
  }

  section#analysis img {
    max-width: 400px;
  }
}
/* Webpages */
@media (min-width: 1000px) {
  section#description {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  section#description h1 {
    font-size: 4rem;
  }

  section#description .text {
    padding-right: 10px;
    justify-content: center;
    font-size: 2rem;
  }

  section#description img {
    max-width: 500px;
  }

  section#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
  }
  section#main h1 {
    font-size: 4rem;
  }

  section#main .text {
    padding-right: 10px;
    justify-content: center;
    font-size: 2rem;
  }

  section#main img {
    max-width: 500px;
  }

  section#northwing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
  }
  section#northwing h1 {
    font-size: 4rem;
  }

  section#northwing .text {
    padding-right: 10px;
    justify-content: center;
    font-size: 2rem;
  }

  section#northwing img {
    max-width: 500px;
  }

  /*  */
  section#facilities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
  }
  section#facilities h1 {
    font-size: 4rem;
  }

  section#analysis .text {
    padding-right: 10px;
    justify-content: center;
    font-size: 2rem;
  }

  section#analysis img {
    max-width: 500px;
  }
  /*  */
  section#analysis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
  }
  section#analysis h1 {
    font-size: 4rem;
  }

  section#analysis .text {
    padding-right: 10px;
    justify-content: center;
    font-size: 2rem;
  }

  section#analysis img {
    max-width: 500px;
  }
}
