* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
  color: white;
  line-height: 1.6;
  height: 100vh;
}

.container {
  /* Takes up whole body */
  width: 100%;
  height: 100%;
  /* Smooth scroll properties */
}

.navbar {
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 0.5vh;
  background-color: skyblue;
  opacity: 0.7;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

.navbar ul li a:hover {
  color: black;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
  color: white;
}

section#home {
  background-image: url('/img/churchill-house-39.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

section#home .main button {
  margin-top: 1rem; 
}

section#home .button {
  margin-top: 2rem;
}
section#home .button a {
  background-color: skyblue;
  color: white;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

section#home .button a:hover {
  background-color: rgb(120, 167, 168);
  color: antiquewhite;

}

section#history {
  background-image: url('/img/churchill-house-24.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
section#history .button {
  margin-top: 2rem;
}
section#history .button a {
  background-color: skyblue;
  color: white;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
}
section#history .button a:hover {
  background-color: rgb(120, 167, 168);
  color: antiquewhite;
}

section#signifiance {
  background-image: url('/img/churchill-house-25.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
section#signifiance .button {
  margin-top: 2rem;
}
section#signifiance .button a {
  background-color: skyblue;
  color: white;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
}
section#signifiance .button a:hover {
  background-color: rgb(120, 167, 168);
  color: antiquewhite;

}
section#photo {
  background-image: url('/img/churchill-house-47.jpg');

}
section#photo .button {
  margin-top: 2rem;
}
section#photo .button a {
  background-color: skyblue;
  color: white;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
}
section#photo .button a:hover {
  background-color: rgb(120, 167, 168);
  color: antiquewhite;

}
mark {
  background-color: skyblue;
  color: white;
  
}

@media (max-width:600px) {
  .logo {
      display: none;
      flex-direction: column;

  }
  .navbar {
    display: none;
  }

section h1 {
  font-size: 2rem;
}

section p {
  font-size: 1rem;
  color: white;
}
}