/* Define Colours */
:root {
  --primary-color: #d3ab9e;
  --light-color: #efe5dc;
  --dark-color: #333;
  --max-width: 1100px;
}

/* Remove all default settings and set box-sizing and font family */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Utilities */
/* Add border line on the top and bottom */
.title {
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-top: 2px solid #d3ab9e;
  border-bottom: 2px solid #d3ab9e;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
  background-color: var(--light-color);
}

/* List styling */
.list ul {
  margin-left: 2rem;
  list-style-type: "→";
}

.list ul li {
  padding-left: 1rem;
}

/* Navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0.5rem;
}

/* Navbar list items styling */
.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-color);
}

.navbar ul li a:visited {
  color: var(--dark-color);
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

/* Navbar Logo Styling */
.logo {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--dark-color);
}

.logo a:hover {
  color: var(--primary-color);
}

.logo a {
  text-decoration: none;
  color: var(--dark-color);
}

.logo a:visited {
  color: var(--dark-color);
}

/* History page - Created two columns */
.row {
  display: flex;
}

/* Column only takes up 75% of the page */
.column-left {
  flex: 75%;
}

.column-left ul {
  margin-left: 2rem;
  padding-left: 1rem;
  list-style-type: "→";
}

/* Column only takes up 25% of the page */
.column-right {
  flex: 25%;
  align-items: center;
  justify-content: center;
}

.column-right h2 {
  text-align: center;
}

.column-right img {
  max-width: 400px;
  height: auto;
  margin: 1rem;
}

/* Parallax effect styling for Robin Boyd Page */
.parallax-1 {
  background: url(../img/robin.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

.parallax-2 {
  background: url(../img/churchill-house-4.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

.parallax-3 {
  background: url(../img/churchill-house-13.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

/* Photo Gallery Page */
.picture-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-items: center;
  grid-gap: 1rem;
  grid-row-gap: 0px;
}

/* Image styling */
.grid-box img {
  width: 100%;
  height: 400px;
}

/* Media Query aimed at mobile devices */
@media (max-width: 900px) {
  .container {
    position: relative;
    padding-top: 4rem;
  }

  .navbar {
    position: fixed;
    top: 0em;
    background-color: var(--light-color);
    opacity: 0.75;
    min-height: 0.5vh;
  }

  /* Change flex direction to column to fit all content */
  .row {
    flex-direction: column;
  }

  .column-left {
    width: 100%;
  }

  /* Set width to 100% of the page for column right */
  .column-right {
    align-self: self;
    width: 100%;
    justify-content: center;
  }

  /*  Set image size */
  .column-right img {
    width: 300px;
    height: 300px;
  }
}
