/* Remove default padding and margin and set box-sing and font-family */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Define colours */
:root {
  --primary-color: #d3ab9e;
  --light-color: #f2f2f2;
  --dark-color: #333;
  --max-width: 1100px;
}

body {
  background-color: var(--light-color);
  line-height: 1.6;
}

/* Wrapper to keep content in */
.container {
  /* Takes up whole body */
  width: 100%;
  height: 100%;
  /* Smooth scroll properties */
}

/* Highlighter */
mark {
  background-color: var(--light-color);
  color: var(--dark-color);
}

/* List items  styling */
.list ul {
  margin-left: 2rem;
  list-style-type: "→";
}

.list ul li {
  padding-left: 1rem;
}

/* Buttons */
section .button {
  margin-top: 2rem;
  font-size: 0.75rem;
}

section .button a {
  background-color: var(--primary-color);
  color: var(--dark-color);
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

section .button a:hover {
  background-color: var(--dark-color);
  color: antiquewhite;
}

/* Navigation  */
.navbar {
  top: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-color);
  opacity: 0.7;
}

/* Navbar list styling */
.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 1rem;
  font-weight: bolder;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--dark-color);
}

.navbar ul li a:hover {
  background-color: var(--primary-color);
}

.navbar ul li a:visited {
  color: var(--dark-color);
}

/* Navbar Logo  */
.logo {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.logo a {
  text-decoration: none;
  color: var(--dark-color);
}

.logo a:hover {
  text-decoration: none;
  color: var(--primary-color);
}

.logo a:visited {
  color: var(--dark-color);
}

/* Back to Top Button */
.to-top {
  background: var(--light-color);
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: var(--dark-color);
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active {
  bottom: 2rem;
  pointer-events: auto;
  opacity: 1;
}

/* General Section */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

section h1 {
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
  color: white;
}

section ul li {
  list-style-type: "→";
  padding-left: 0.5rem;
}

/* Section Landing */
section#landing {
  background-color: var(--light-color);
}

section#landing p {
  color: var(--dark-color);
  padding: 10px;
}

/* Section Home */
section#home {
  background-image: url("/assets/img/churchill-house-39.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Section History */
section#history {
  background-image: url("/assets/img/churchill-house-24.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Section Significance */
section#significance {
  background-image: url("/assets/img/churchill-house-29.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section#significance ul {
  list-style-type: "→";
  font-size: 1.5rem;
  margin-top: 1rem;
}

section#significance ul {
  color: white;
}

section#significance ul li {
  margin: 1rem;
}

/* Section Photo */
section#photo {
  background-image: url("/assets/img/churchill-house-47.jpg");
}

/* Section Footer */
section#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--light-color);
}

section#footer img {
  width: 500px;
}

/*  Description.html Page */
section .text p {
  color: var(--dark-color);
  text-align: left;
}

section .text h1 {
  color: var(--dark-color);
  text-align: left;
}

/* Description.html page css */
img {
  margin: 1rem;
}

/* Description Section */
section#description {
  background-color: #efe5dc;
}

/* Main Building Section */
section#main {
  background-color: #d0b8ac;
}

/* Northwing Section */
section#northwing {
  background-color: #f3d8c7;
}

/* Facilities Section */
section#facilities {
  background-color: #efe5dc;
}

/* Analysis Section */
section#analysis {
  background-color: #fbfefb;
}

section#analysis .text ul {
  font-size: 1.5rem;
  padding-left: 2.5rem;
  text-align: left;
}

/* Responsive Phone */
@media (max-width: 690px) {
  /* Navigation */
  .navbar {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .navbar ul {
    flex-direction: column;
  }

  .logo {
    display: none;
  }

  /* Nav Description */
  .navbar .nav-des {
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 15rem;
  }

  /* Nav Home */
  .navbar .homenav {
    display: flex;
    position: fixed;
    top: 0;
    background-color: var(--light-color);
    width: 100%;
    justify-content: center;
    height: 5vh;
  }

  .navbar .homenav ul {
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 0.6rem;
  }

  /* Section */
  section h1 {
    font-size: 1.5rem;
  }

  section p {
    font-size: 0.7rem;
    color: white;
  }

  section ul li {
    font-size: 0.7rem;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  section .text {
    justify-content: center;
    padding: 0.3rem;
  }

  section img {
    max-width: 300px;
  }

  /* Button - index.html */
  section .button {
    font-size: 0.5rem;
  }

  /* Footer Image - index.html */
  .caption img {
    width: 250px;
    height: 100px;
  }
}

/* Tablets */
@media (min-width: 700px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .navbar .nav-des .logo {
    display: none;
  }

  section h1 {
    font-size: 1.5rem;
  }

  section p {
    font-size: 1rem;
  }

  section img {
    max-width: 400px;
  }

  section ul li {
    font-size: 1rem;
  }
}

@media (min-width: 930px) {
  .navbar {
    position: relative;
    margin-bottom: 2rem;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
  }

  .navbar ul {
    flex-direction: row;
  }

  section#significance ul li {
    font-size: 1rem;
  }
}

/* Computer */
@media (min-width: 1000px) {
  /* Section  */
  section h1 {
    font-size: 2rem;
  }

  section p {
    font-size: 1rem;
  }

  section .text {
    padding-right: 10px;
    justify-content: center;
    font-size: 2rem;
  }

  section .img img {
    max-width: 500px;
  }

  /* Description */
  section#description {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* Main Building */
  section#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
  }

  /* Nortwing */
  section#northwing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
  }

  /* Facilities */
  section#facilities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
  }

  /* Analysis */
  section#analysis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
  }
}
